/* Cart.css */
.cart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .cart-items {
    flex: 2;
  }
  
  .book-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .thumbnail-image {
    width: 180px;
    height: 260px;
  }
  
  .thumbnail-placeholder {
    width: 100px;
    height: 150px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-details {
    margin-left: 20px;
  }
  
  .quantity-buttons {
    display: ;
    align-items: center;
  }
  
  .quantity-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .cart-summary {
    flex: 1;
    background-color: #f8f9fa;
    padding: 100px;
    border: 3px solid #dee2e6;
    margin-right: 100px;
  }
  
  .empty-cart {
    text-align: center;
  }
  