/* Cart.css */
.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .cart-items {
    flex: 2;
  }
  
  .book-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .thumbnail-image {
    width: 180px;
    height: 260px;
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .thumbnail-placeholder {
    width: 100px;
    height: 150px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-details {
    margin-left: 20px;
    text-align: center; /* Center-align book title */
  }
  
  
  .quantity-buttons {
    display: flex;
    align-items: center;
  }
  
  .quantity-buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 20px;
    cursor: pointer;
  }
  
  .cart-summary {
    flex: 1;
    background-color: #f8f9fa;
    padding: 100px;
    border: 3px solid #dee2e6;
    margin-top: 45px;
    margin-right: 200px;
    font-size: 20px;
  }

  .checkout-button {
    background-color: #59a282;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 28px;
  }
  
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .empty-cart p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .empty-cart .empty-cart-icon {
    font-size: 60px;
    color: #999;
    margin-bottom: 20px;
  }
  
  .empty-cart .empty-cart-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .empty-cart .empty-cart-link:hover {
    color: #0056b3;
  }