.book-thumbnail {
    width: 20%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.thumbnail-container {
    height: 200px; /* Set a fixed height for the thumbnail container */
    overflow: hidden; /* Hide any overflow content */
}

.thumbnail-image {
    width: auto;
    height: 100%; /* Ensure the image fills the container vertically */
}

.book-price {
    margin-top: 5px;
}

.buy-button {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #0056b3;
}
