.book-thumbnail {
    width: calc(20% - 20px); /* A largura ajustada para acomodar o padding */
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
    display: inline-block; /* Posiciona os elementos em linha */
    vertical-align: top; /* Alinha os elementos pela parte superior */
    overflow: hidden; /* Adicionado para controlar o overflow do conteúdo */

    @media screen and (max-width: 768px) {
        width: calc(100% - 20px);
    }
}


.book-thumbnail:hover {
    transform: translateY(-5px); /* Move thumbnail up slightly on hover */
}

.thumbnail-container {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box shadow */

    @media screen and (max-width: 768px) {
        border-radius: 10px;
    }
}

.thumbnail-image {
    width: 50%;
    height: auto;
    transition: transform 0.3s ease; /* Smooth transition on hover */

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.thumbnail-image:hover {
    transform: scale(1.1); /* Zoom in slightly on hover */
}

.book-title {
    margin-top: 10px;
    font-weight: bold;
    max-height: 3.6em; /* Definindo a altura máxima em 3.6em (aproximadamente duas linhas de texto) */
    overflow: hidden; /* Oculta qualquer conteúdo que ultrapasse a altura máxima */
    white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto é cortado */
}

.book-price {
    margin-top: 5px;
    color: #000000; /* Subdued color for price */
}

.buy-button {
    display: inline-block;
    margin-top: 10px;
    background-color: #65a5e8;
    color: #fff;
    padding: 8px 40px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease; /* Smooth transition on hover */

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.check-icon {
    color: white;
}

.buy-button:hover {
    background-color: #3d96f5; /* Darker shade on hover */
}

.book-classification {
    margin-top: 5px;
    color: #f1d650; /* Subdued color for classification */
}

.thumbnail-container a {
    text-decoration: none;
}