.page {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-bottom: 100px;
}

.book-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.book-details img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
}

.book-info {
    flex: 1;
}

.authors {
    font-style: italic;
    color: #888;
}

.description {
    margin-bottom: 20px;
}

.book-description {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.book-actions p {
    margin: 10px 0; 
    font-size: 16px; 
    color: #666; 
}

.book-actions button {
    padding: 15px 25px;
    font-size: 30px;
    background-color: #69acef; 
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.book-actions button:hover {
    background-color: #2c3e50 !important;
}

