.page {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Adicionado para centralizar os elementos horizontalmente */
    padding: 20px;
    margin-bottom: 100px;
}

.book-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    padding: 50px;
    border-radius: 8px;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.additional-info {
    display: flex;
    flex-direction: column;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgba(250, 255, 255, 0.332);
    max-height: 200px; 
    margin-left: 20px;
    margin-top: 40px;
}

.additional-info button {
    padding: 15px 50px;
    font-size: 16px;
    background-color: #69acef;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: auto; /* Botão no final da box */
}

.additional-info p {
    margin: 0;
    font-size: 16px;
    color: #333; 
}

.additional-info p strong {
    font-weight: bold; 
    color: #465260; 
    font-size: 80px; 
}

.additional-info .arrival-info {
    margin-top: 20px;
    margin-bottom: 20px;
}

.additional-info .arrival-info p {
    font-size: 20px; 
    color: #666; 
}


.book-details img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: contain; /* FIX Versão PRECANDIDATE RELEASE: Adicionado para garantir que a imagem não distorça */
}
.book-info {
    flex: 1;
}

.authors {
    font-style: italic;
    color: #888;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.book-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-actions p {
    flex: 1;
    margin-top: 50px;
    font-size: 16px; 
    color: #666; 
}

.book-actions button:hover {
    background-color: #2c3e50;
}

@media only screen and (max-width: 768px) {
    .page {
        flex-direction: column; /* Alterado para coluna para empilhar os elementos em dispositivos móveis */
        align-items: center; /* Centraliza os elementos na direção transversal */
    }

    .book-details,
    .additional-info {
        max-width: 100%; /* Largura máxima para ocupar toda a largura da tela */
        margin-left: 0; /* Removido para centralizar os elementos */
    }


    .book-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .book-actions button {
        width: 100%;
        margin-top: 10px;
    }

    .additional-info {
        padding: 50px;
    }
    .additional-info button {
        padding: 10px 30px;
        font-size: 14px;
    }
    
    .additional-info p {
        font-size: 14px;
    }
    .additional-info p strong {
        font-size: 60px;
    }
}

.book-description {
    margin-top: 20px; 
    padding: 20px;
    background-color: #f9f9f9; 
    border-radius: 8px; 
}