.page {
    display: flex;
    flex-direction: row; /* Alterado para linha para posicionar os elementos lado a lado */
    padding: 20px;
    margin-bottom: 100px;
}

.book-details {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 30%;
    margin-top: 02%;
}

.book-details img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    object-fit: contain; /* FIX Versão PRECANDIDATE RELEASE: Adicionado para garantir que a imagem não distorça */
}
.book-info {
    flex: 1;
}

.authors {
    font-style: italic;
    color: #888;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 20px;
}

.book-description {
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.book-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-actions p {
    flex: 1;
    margin-top: 50px;
    font-size: 16px; 
    color: #666; 
}

.book-actions button {
    padding: 15px 25px;
    font-size: 16px;
    background-color: #69acef; 
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

.book-actions button:hover {
    background-color: #2c3e50;
}

@media screen and (max-width: 768px) {
    .page {
        padding: 10px;
    }

    .book-details {
        padding: 15px;
    }

    .book-actions {
        flex-direction: column;
        align-items: stretch;
    }

    .book-actions button {
        width: 100%;
        margin-top: 10px;
    }
}

.additional-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    max-width: 70%; 
    margin: 0 auto; 
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    margin-left: 30%;
    margin-top: 02%;
}


